@use "../variables" as vars;

.colorFg {
  color: vars.$fg;
}

.colorPrimary {
  color: vars.$primary;
}

.colorWarning {
  color: vars.$warning;
}

.backgroundColorPrimary {
  background-color: vars.$buttonPrimary;
}
