@use "../variables" as vars;

.lockScreenWindow {
  background-color: transparent;
}

.lockScreenEntry {
  box-shadow: none;
  color: vars.$lockScreenEntryForegroundColor;
  background-color: transparent;
  font-size: 20px;
  caret-color: transparent;
  placeholder {
    font-size: 16px;
    font-weight: bold;
    color: vars.$warning;
  }
}

.lockScreenEntryWrapper {
  padding: 4px;
  background-color: vars.$lockScreenEntryBackgroundColor;
  border-style: solid;
  border-width: vars.$lockScreenEntryBorderWidth;
  border-color: vars.$lockScreenEntryBorderColor;
  border-radius: vars.$lockScreenEntryBorderRadius;
}

.lockScreenClock {
  color: vars.$lockScreenTimeForegroundColor;
  font-size: 100px;
  font-weight: bold;
}

.lockScreenDate {
  color: vars.$lockScreenDateForegroundColor;
  font-size: 20px;
  font-weight: bold;
}

.lockScreenVisibilityButton {
  color: vars.$lockScreenEntryForegroundColor;
}