@use "../variables" as vars;

.lockScreenEntry {
  box-shadow: none;
  color: vars.$lockScreenEntryForegroundColor;
  background-color: vars.$lockScreenEntryBackgroundColor;
  border-radius: vars.$lockScreenEntryBorderRadius;
  font-size: 20px;
}

.lockScreenEntryWrapper {
  padding: 4px;
  background-color: vars.$lockScreenEntryBackgroundColor;
  border-style: solid;
  border-width: vars.$lockScreenEntryBorderWidth;
  border-color: vars.$lockScreenEntryBorderColor;
  border-radius: vars.$lockScreenEntryBorderRadius;
}

.lockScreenClock {
  color: vars.$lockScreenTimeForegroundColor;
  font-size: 100px;
  font-weight: bold;
}

.lockScreenDate {
  color: vars.$lockScreenDateForegroundColor;
  font-size: 20px;
  font-weight: bold;
}

.lockScreenVisibilityButton {
  color: vars.$lockScreenEntryForegroundColor;
}