@use "../variables" as vars;
@use "../functions" as fun;
@use "sass:color";

.revealerRowContent {
  border: 2px solid fun.smart-lighten(vars.$bg);
  border-radius: vars.$buttonBorderRadius;
  padding: 4px;
}